BackOfficeMiniProject.DataAcces.DataModels/bin/
BackOfficeMiniProject.DataAcces.DataModels/obj/
BackOfficeMiniProject.DataAccess.Database/bin/
BackOfficeMiniProject.DataAccess.Database/obj/
BackOfficeMiniProjectCross/bin/Debug/netcoreapp3.1/appsettings.Development.json
BackOfficeMiniProjectCross/bin/
BackOfficeMiniProjectCross/obj/BackOfficeMiniProjectCross.csproj.EntityFrameworkCore.targets
BackOfficeMiniProjectCross/obj/BackOfficeMiniProjectCross.csproj.nuget.g.props
BackOfficeMiniProjectCross/obj/
.vs/BackOfficeMiniProjectCross/DesignTimeBuild/.dtbcache.v2
.vs/BackOfficeMiniProjectCross/v16/.suo
obj/BackOfficeMiniProject.DataAccess.Database.csproj.EntityFrameworkCore.targets
MyStartupProject/
BackOfficeMiniProject.Cache/bin/
BackOfficeMiniProject.Cache/obj/
BackOfficeMiniProject.DataAccess.Repository/bin/
BackOfficeMiniProject.DataAccess.Repository/obj/
BackOfficeMiniProject.Reports/obj/
BackOfficeMiniProject.Reports/bin/
node_modules/
BackOfficeMiniProjectCross/clientapp/node_modules.zip
